body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}
/* main {
  height: 100vh;
} */
.flex {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.period {
  margin-bottom: 0;
  font-weight: bold;
}
input {
  padding: 5px;
}
